# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.pio/build/nodemcuv2/.sconsign39.dblite
.pio/build/nodemcuv2/firmware.bin
.pio/build/nodemcuv2/firmware.elf
.pio/build/nodemcuv2/ld/local.eagle.app.v6.common.ld
.pio/build/nodemcuv2/spiffs.bin
.pio/build/project.checksum
.pio/libdeps/nodemcuv2/ArduinoJson/.clang-format
.pio/libdeps/nodemcuv2/ArduinoJson/.gitattributes
.pio/libdeps/nodemcuv2/ArduinoJson/.github/ISSUE_TEMPLATE.md
.pio/libdeps/nodemcuv2/ArduinoJson/.mbedignore
.pio/libdeps/nodemcuv2/ArduinoJson/.piopm
.pio/libdeps/nodemcuv2/ArduinoJson/.travis.yml
.pio/libdeps/nodemcuv2/ArduinoJson/appveyor.yml
.pio/libdeps/nodemcuv2/ArduinoJson/ArduinoJson.h
.pio/libdeps/nodemcuv2/ArduinoJson/banner.svg
.pio/libdeps/nodemcuv2/ArduinoJson/CHANGELOG.md
.pio/libdeps/nodemcuv2/ArduinoJson/CMakeLists.txt
.pio/libdeps/nodemcuv2/ArduinoJson/CONTRIBUTING.md
.pio/libdeps/nodemcuv2/ArduinoJson/examples/JsonConfigFile/JsonConfigFile.ino
.pio/libdeps/nodemcuv2/ArduinoJson/examples/JsonGeneratorExample/JsonGeneratorExample.ino
.pio/libdeps/nodemcuv2/ArduinoJson/examples/JsonHttpClient/JsonHttpClient.ino
.pio/libdeps/nodemcuv2/ArduinoJson/examples/JsonParserExample/JsonParserExample.ino
.pio/libdeps/nodemcuv2/ArduinoJson/examples/JsonServer/JsonServer.ino
.pio/libdeps/nodemcuv2/ArduinoJson/examples/JsonUdpBeacon/JsonUdpBeacon.ino
.pio/libdeps/nodemcuv2/ArduinoJson/examples/ProgmemExample/ProgmemExample.ino
.pio/libdeps/nodemcuv2/ArduinoJson/examples/StringExample/StringExample.ino
.pio/libdeps/nodemcuv2/ArduinoJson/keywords.txt
.pio/libdeps/nodemcuv2/ArduinoJson/library.json
.pio/libdeps/nodemcuv2/ArduinoJson/library.properties
.pio/libdeps/nodemcuv2/ArduinoJson/LICENSE.md
.pio/libdeps/nodemcuv2/ArduinoJson/README.md
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson.h
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Configuration.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/Encoding.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/JsonBufferAllocated.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/JsonFloat.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/JsonInteger.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/JsonVariantAs.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/JsonVariantContent.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/JsonVariantDefault.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/JsonVariantType.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/List.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/ListConstIterator.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/ListIterator.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/ListNode.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/NonCopyable.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/ReferenceType.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Data/ValueSaver.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Deserialization/Comments.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Deserialization/JsonParser.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Deserialization/JsonParserImpl.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Deserialization/StringWriter.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/DynamicJsonBuffer.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonArray.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonArrayImpl.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonArraySubscript.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonBuffer.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonBufferBase.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonBufferImpl.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonObject.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonObjectImpl.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonObjectSubscript.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonPair.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonVariant.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonVariantBase.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonVariantCasts.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonVariantComparisons.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonVariantImpl.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonVariantOr.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/JsonVariantSubscripts.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Polyfills/attributes.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Polyfills/ctype.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Polyfills/isFloat.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Polyfills/isInteger.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Polyfills/math.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Polyfills/parseFloat.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Polyfills/parseInteger.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/RawJson.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Serialization/DummyPrint.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Serialization/DynamicStringBuilder.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Serialization/FloatParts.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Serialization/IndentedPrint.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Serialization/JsonPrintable.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Serialization/JsonSerializer.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Serialization/JsonSerializerImpl.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Serialization/JsonWriter.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Serialization/Prettyfier.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Serialization/StaticStringBuilder.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/Serialization/StreamPrintAdapter.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/StaticJsonBuffer.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/StringTraits/ArduinoStream.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/StringTraits/CharPointer.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/StringTraits/FlashString.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/StringTraits/StdStream.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/StringTraits/StdString.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/StringTraits/StringTraits.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/EnableIf.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/FloatTraits.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/IsArray.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/IsBaseOf.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/IsChar.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/IsConst.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/IsFloatingPoint.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/IsIntegral.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/IsSame.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/IsSignedIntegral.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/IsUnsignedIntegral.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/IsVariant.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/RemoveConst.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/TypeTraits/RemoveReference.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/src/ArduinoJson/version.hpp
.pio/libdeps/nodemcuv2/ArduinoJson/SUPPORT.md
.pio/libdeps/nodemcuv2/AsyncElegantOTA/.gitattributes
.pio/libdeps/nodemcuv2/AsyncElegantOTA/.github/FUNDING.yml
.pio/libdeps/nodemcuv2/AsyncElegantOTA/.piopm
.pio/libdeps/nodemcuv2/AsyncElegantOTA/.travis.yml
.pio/libdeps/nodemcuv2/AsyncElegantOTA/build_platformio.sh
.pio/libdeps/nodemcuv2/AsyncElegantOTA/examples/ESP32_Async_Demo/ESP32_Async_Demo.ino
.pio/libdeps/nodemcuv2/AsyncElegantOTA/examples/ESP8266_Async_Demo/ESP8266_Async_Demo.ino
.pio/libdeps/nodemcuv2/AsyncElegantOTA/keywords.txt
.pio/libdeps/nodemcuv2/AsyncElegantOTA/library.json
.pio/libdeps/nodemcuv2/AsyncElegantOTA/library.properties
.pio/libdeps/nodemcuv2/AsyncElegantOTA/LICENSE
.pio/libdeps/nodemcuv2/AsyncElegantOTA/README.md
.pio/libdeps/nodemcuv2/AsyncElegantOTA/src/AsyncElegantOTA.h
.pio/libdeps/nodemcuv2/AsyncElegantOTA/src/elegantWebpage.h
.pio/libdeps/nodemcuv2/AsyncElegantOTA/src/Hash.h
.pio/libdeps/nodemcuv2/AsyncElegantOTA/ui/README.md
.pio/libdeps/nodemcuv2/DallasTemperature/.piopm
.pio/libdeps/nodemcuv2/DallasTemperature/DallasTemperature.cpp
.pio/libdeps/nodemcuv2/DallasTemperature/DallasTemperature.h
.pio/libdeps/nodemcuv2/DallasTemperature/examples/Alarm/Alarm.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/AlarmHandler/AlarmHandler.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/ExternalPullup/ExternalPullup.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/Multibus_simple/Multibus_simple.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/Multiple/Multiple.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/oneWireSearch/oneWireSearch.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/readPowerSupply/readPowerSupply.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/SaveRecallScratchPad/SaveRecallScratchPad.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/SetUserData/SetUserData.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/Simple/Simple.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/Single/Single.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/Tester/Tester.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/Timing/Timing.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/TwoPin_DS18B20/TwoPin_DS18B20.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/UserDataDemo/UserDataDemo.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/UserDataWriteBatch/UserDataWriteBatch.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/WaitForConversion/WaitForConversion.ino
.pio/libdeps/nodemcuv2/DallasTemperature/examples/WaitForConversion2/WaitForConversion2.ino
.pio/libdeps/nodemcuv2/DallasTemperature/keywords.txt
.pio/libdeps/nodemcuv2/DallasTemperature/library.json
.pio/libdeps/nodemcuv2/DallasTemperature/library.properties
.pio/libdeps/nodemcuv2/DallasTemperature/README.md
.pio/libdeps/nodemcuv2/OneWire/.piopm
.pio/libdeps/nodemcuv2/OneWire/docs/issue_template.md
.pio/libdeps/nodemcuv2/OneWire/examples/DS18x20_Temperature/DS18x20_Temperature.pde
.pio/libdeps/nodemcuv2/OneWire/examples/DS2408_Switch/DS2408_Switch.pde
.pio/libdeps/nodemcuv2/OneWire/examples/DS250x_PROM/DS250x_PROM.pde
.pio/libdeps/nodemcuv2/OneWire/keywords.txt
.pio/libdeps/nodemcuv2/OneWire/library.json
.pio/libdeps/nodemcuv2/OneWire/library.properties
.pio/libdeps/nodemcuv2/OneWire/OneWire.cpp
.pio/libdeps/nodemcuv2/OneWire/OneWire.h
.pio/libdeps/nodemcuv2/OneWire/util/OneWire_direct_gpio.h
.pio/libdeps/nodemcuv2/OneWire/util/OneWire_direct_regtype.h
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
